{% extends "dashboard/dashboard.html" %}
{% load static %}

      {% block extra_head_imports %}
        <link rel="stylesheet" href="{% static "css/fancyCheckBoxes.css" %}">
          <link rel="stylesheet" href="{% static "css/fancy_loaders.css" %}">


      {% endblock extra_head_imports %}


{% block tittle %}


{% endblock tittle%}

{% block body %}

    <div class="row" style="padding-top: 40px">
        <div class="col-sm-7">
            <h4 class="pt-4">Algorithm predictions plot:</h4>

            <div  id="sliders_loader" class="little_loader" style="margin-inline-start: 350px "></div>
            <input hidden="true" id="deg_slider" type="text" class="js-range-slider" name="deg_slider" value="" />
            <input hidden="true" id="c_slider" type="text" class="js-range-slider" name="c_slider" value="" />
            <input hidden="true" id="gamma_slider" type="text" class="js-range-slider" name="gamma_slider" value="" />
            <input hidden="true" id="epsilon_slider" type="text" class="js-range-slider" name="epsilon_slider" value="" />
            <input hidden="true" id="param_to_fit_slider" type="text" class="js-range-slider" name="my_range" value="" />
            {{context.algorithmFilterButtons| safe}}

            <div class="border" id="container" style=" max-height: 500px;">
            </div>
        </div>
         <div class="col-sm-4">
            <h4 class="pt-4">Algorithm comparison metrics:</h4>
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#normalized-metrics-tab-pane">Normalized Metrics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#raw-metrics-tab-pane">Raw Metrics</a>
                </li>
            </ul>
             <div class="tab-content">
                 <div class="tab-pane active" id="normalized-metrics-tab-pane">
                    {% block norm_metrics_commands %}
                    {% endblock norm_metrics_commands %}
                    <div class="border" id="metricsChartContainer" style=" height: 400px;"></div>
                 </div>
                 <div class="tab-pane" id="raw-metrics-tab-pane">
                    {% block raw_metrics_commands %}
                    {% endblock raw_metrics_commands %}
                    <div class="border" id="rawMetricsChartContainer"style="height: 400px; "></div>
                 </div>
             </div>
        </div>
    </div>
    <div class="row">
    <div class="col-sm-11">
        <h4>Error distributions:</h4>
        <div id="table_data_div" >
            {{context.table_data| safe}}
        </div>
    </div>
    </div><!-- nested row-->
{% endblock body %}

{% block scriptWork %}

<script>
    let errorCharts = {{ context.error_charts | safe}};
    let predictionsChart = Highcharts.chart('container', {{ context.predictionsChart |safe }});
    let normalizedMetricsChart = Highcharts.chart('metricsChartContainer', {{ context.metricsChart|safe }});
    let normalizedMetricChartLoaded = true;
    let rawMetricsChart = Highcharts.chart('rawMetricsChartContainer',{{ context.rawMetricsChart|safe }});
    let rawMetricChartLoaded = true;
    let errorChartsLoaded = true;
    let algorithm_names = {{context.alg_names | safe }};
    let predictor = "{{context.predictor }}";
    let param_to_fit = "{{context.param_to_fit}}";
    let current_param_values = {{context.current_param_values}};
</script>

        <script type="text/javascript" src="{% static "chartLogic.js" %}"></script>

{% endblock scriptWork %}